#para1{



    color:aqua;
    font-size: xx-small;
    font-style: italic;

}
.myclass{
    color: crimson;
}

p{
    color: gold;
    background-color: black;
}

.class1{
    color: indigo;

}
.class2{
    text-align: center;
    
}
